@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins:wght@300;400;500;600;700;900&display=swap');

@font-face {
    font-family: 'edosz';
    src: url(../fontes/edosz.ttf);
}

@keyframes flutuar{
    0% {
        top:0;
    }
    100% {
        top:30px;
    }
}

@keyframes anima{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.10);
    }
}

/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
   background-color: #8400ff;
   transition: .3s; 
} 

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.efeito-txt-topo, .efeito-img-topo, .titulo, .efeito-especial1, .efeito-especial2, .efeito-especial3, .efeito-img-sobre, .efeito-txt-sobre, .efeito-img1, .efeito-img2, .efeito-img3,
.efeito-input1, .efeito-input2, .efeito-input3, .efeito-input3, .efeito-input4, .efeito-input5{
    visibility: hidden;
}


.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #8400ff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

.titulo span{
    color: #8400ff;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgba(132, 0, 255, 0.514);
    transform: scale(1.10);
}

/*ESTILO DO MENU MOBILE*/

.overlay-menu{
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.btn-abrir i{
    color: #8400ff;
    font-size: 40px;
}

.btn-abrir{
    display: none;
}

.menu-mobile{
    background-color: #242424;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.3s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: #8400ff;
    font-size: 30px;

}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #8400ff;
    color: #000;
}




/*ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    display: inline-block;
    color: #7d7d7d;
    text-decoration: none;
    transition: 0.3s;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.10);
}

header  nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    padding: 0px 40px;
    display: inline-block;
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
    height: 100vh;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    line-height: 40px;
    font-size: 42px;    
    color: #fff;
}

.topo-do-site .txt-topo-site h1 span{
    color: #8400ff;
    font-size: 2em;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    width: 500px;
    height: 400px;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 20px;
}

/*ESTILO DAS Especialidades*/
section.especialidades{
    padding: 40px 4%;
    height: 100vh;

}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;

}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #ffffffd7;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #8400ff;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
}

/*ESTILO DO SOBRE MIM*/
section.sobre{
    padding: 80px 4%;
    height: 100vh;
}

section.sobre .img-sobre img{
    width: 400px;
    height: 600px;
    border-radius: 20px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;

}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #8400ff;
    display: block;
    font-family: 'edosz';
}

.sobre .txt-sobre p{
    margin: 30px 0;
    text-align: justify;
}

 .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #8400ff;
    font-size: 22px;
    cursor: pointer;
    margin: 0px 10px;
    transition: 0.3s;
}
/*ESTILO DO PORTIFÓLIO*/
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0px 0px  40px 10px #ffffff1c ;
    min-height: 100vh;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #000000b8;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover{
    opacity: 1;

}

/*ESTILOS DO FALE COMIGO*/
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

/*form input::placeholder{
    
}*/

form textarea{
    resize: none;
    height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: #8400ff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    
}
/*ESTILO DO FOOTER*/
footer{
    padding: 60px 4%;
    box-shadow: 0px 0px  40px 10px #ffffff1c;
}

footer .flex{
    justify-content: space-between;
}

 footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #8400ff;
}

footer .line-footer p i{
    color: #8400ff;
    font-size: 22px;
}

footer .line-footer p a{
    text-decoration: none;
    color: #fff;
}

.logo-footer{
    color: #fff;
}

